.name {
  color: white;
  font-size: 40px;
}

/* .intro-text {
  padding-top: 150px;
} */

.resumeethumbnail {
  height: 200px;
  border-style: solid;
  
}

.btb {
  border-top-style: solid;
  color: grey;
}